.activity-item {
    position: relative;
    padding-left: 62px;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
}

.activity-item em {
    margin: 0.4em;
}

.activity-icon {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 24px; 
    color: #bbb;
}

.activity-ts {
    color: #bbb;
    font-size: 12px;
}
