/**
 * reset start
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link, a:visited {
    color: #2532a7;
    text-decoration: none;
}

#page-logo {
    padding-top: 10px;
}

#page-logo a {
    letter-spacing: -3px;
}

#page-logo a:link, #page-logo a:visited {
    color: #35302b;
    text-decoration: none;
}

/**
 * reset end
 */

@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon/fonts/icomoon.eot');
	src:url('/fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg'),
		url('/fonts/icomoon/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
    font-size: 1.2em;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    margin: 10px;
}

.container-has-icon {
    position: relative;
}

.icon {
    position: absolute;
    top: 5px;
    left: 0;
    color: #bbb;
}

.has-icon-before {
    padding-left: 3em;
}

.cancel {
    color: #fff;
    float: right;
}
/**
 * iconfont end.
 */

body {
    background: #f3f3f3;
    color: #bbb;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    text-align: left;
	line-height: 1.5;
}

.error {
    color: red;
    font-size: 12px;
}

.current {
    font-size: 18px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    margin-bottom: 10px;
}

#page-header-wrapper, #page-footer-wrapper {
    color: #fff;
    background: #454546;
}

#page-menu-wrapper {
    overflow: hidden;
    color: red;
}

#page-main-wrapper {
    border-top: 1px solid #444;
    min-height: 480px;
    padding: 10px 10px 10px 0;
    background: #fff;
    overflow: hidden;
}

#page-header, #page-logo, #page-menu, #page-main, #page-footer {
    width: 960px;
    margin: 0 auto;
}

#page-header {
    padding: 3px 0;
    min-height: 40px;
    line-height: 32px;
}

#page-logo h1 {
    color: #333;
    line-height: 38px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0.6em;
}

#page-logo h1 span {
    font-size: 14px;
    font-weight: normal;
}

#page-menu ul.menu li {
    float: left;
    line-height: 28px;
}

#page-menu ul.action li {
    float: right;
}

#page-menu ul.action li a {
    color: #fff;
    background: #398fd1;
    border: 1px solid #ccc;
    font-size: 12px;
}

#page-menu a {
    color: red;
    display: block;
    padding: 0 10px;
}

#page-footer {
    margin-top: 2em;
    padding-bottom: 20px;
}

/**
 * layout
 */
#main-sidebar, #main-mid, #main-content {
    min-height: 300px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

#main-content {
    padding-right: 10px;
    color: #1a1a1a;
    font-size: 14px;
}

#main-sidebar {
    float: right;
    width: 276px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    font-size: 14px;
}

#main-sidebar h4 {
    margin-bottom: 5px;
    padding-top: 2px;
    font-size: 1.0em;
    font-weight: normal;
    color: #006699;
    border-bottom: 2px solid #000;
}

#main-sidebar > div {
    background: #f0f0f0;
    margin-bottom: 10px;
}

/**
 * Home side bar
 */
.slogan h3 {
    color: #fff;
    background: #a3a3a3;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    padding: 0 25px;
}

.slogan-item div {
    padding: 0 25px;
    color: #737373;
    background: #ececec;
    border-bottom: 1px solid #fff;
    line-height: 28px;
    height: 28px;
}

/**
 * activity
 */
.activity-item {
    position: relative;
    padding-left: 62px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.activity-item em {
    margin: 0.4em;
}

.activity-icon {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 24px; 
    color: #bbb;
}

.activity-ts {
    color: #bbb;
    font-size: 12px;
}

/**
 * login
 */
#aboutForm, #impressionForm, #invitationForm, #signinForm, #signupForm, #resetRequestForm, #resetPasswordForm, #topicForm, #createPlanForm {
    width: 420px;
    margin: 20px auto;
    font-size: 16px;
    border: 1px solid #D8DEE2;
}

.input-form li, .dialog li {
    margin: 12px;
}

legend {
    color: #fff;
    background: #6c8393;
    padding-left: 1em;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

.input-form label, .dialog label {
    display: block;
    font-weight: bold;
}

.sum {
    width: 100%;
    min-height: 24px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
    color: #333;
}

/**
 * pop up.
 */
#mask {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 99;
}

.dialog {
    position: fixed;
    background: #f7f7f7;
    border: 1px solid #D8DEE2;
    top: 60px;
    z-index: 100;
}

.pop-420 {
    width: 420px;
}

.pop-650 {
    width: 650px;
}

.pop-320 {
    width: 320px;
    margin: 2em auto;
}

fieldset.post-type {
    margin-bottom: 1em;
}

fieldset.post-type label {
    display: inline;
}

#confirmForm div {
    padding: 20px;
    border: 1px solid #ddd;
}

/**
 * popup end.
 */

/**
 * header navigation
 */
ul.nav-left {
    float: left;
}

ul.nav-left li {
    float: left;
    padding-right: 1em;
}

ul.nav-right {
    float: right;
    position: relative; 
}

ul.nav-right li { 
    font-weight: bold; 
    float: left; 
    zoom: 1; 
}

ul.nav-item a:hover {
    color: #000; 
}

ul.nav-item a:active {
    color: #ffa500; 
}

ul.nav-item li a {
    /**
    display: block; 
    border-right: 1px solid #333;
    */
    padding: 4px 8px; 
    color: #bbb; 
}

ul.nav-item li:last-child a {
    border-right: none; 
} /* Doesn't work in IE */

ul.nav-item li.hover,
ul.nav-item li:hover {
    background: #F3D673; 
    color: black; 
    position: relative; 
}

ul.nav-item li.hover a {
    color: black; 
}

/** 
 * level 2
 */
ul.nav-item ul {
    width: 120px; 
    position: absolute; 
    top: 100%; 
    left: 0; 
}

ul.nav-item ul li {
    font-size: 12px;
    font-weight: normal; 
    background: #f6f6f6; 
    color: #000; 
	border-bottom: 1px solid #ccc; 
    float: none; 
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.nav-item ul li a	{
    border-right: none; 
    width: 100%; 
    display: inline-block; 
} 
