/**
 * reset start
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * reset end
 */

body {
    background: #f7f7f7;
    color: #000;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    text-align: left;
	line-height: 1.5;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #737373;
    text-decoration: none;
}

.wrapper {
    color: #fff;
    background: #454546;
}

.center {
    width: 960px;
    margin: 0 auto;
}

#logo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #444;
}

#logo div {
    overflow: hidden;
}

#logo ul.menu {
    float: left;
}

#logo ul.action {
    float: right;
}

#logo ul li {
    float: left;
    margin-right: 1em;
}

#logo ul li a {
    display: block;
    text-decoration: none;
}

#logo h1 {
    color: #333;
    line-height: 38px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.6em;
}

#logo h1 span {
    font-size: 14px;
    font-weight: normal;
}

#header {
    height: 31px;
    padding-top: 20px;
    overflow: hidden;
}

#header ul.nav {
    float: left;
}

#header ul.userbox {
    float: right;
}

#header li {
    float: left;
    padding-right: 1em;
}

#header li a {
    display: block;
    color: #baaaaa;
    text-decoration: none;
}

#contentWrapper {
    padding: 10px;
    overflow: hidden;
}

#footer {
    margin-top: 2em;
    padding-bottom: 20px;
}

/**
 * layout
 */
#sidebar, #mid, #main {
    min-height: 300px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

#content {
    margin-top: 0.6em;
    padding: 0 10px;
}

#sidebar {
    width: 276px;
    float: right;
    border: 1px solid #ddd;
}

#sidebar h4 {
    margin-bottom: 5px;
    padding-top: 2px;
    font-size: 1.0em;
    font-weight: normal;
    color: #006699;
    border-bottom: 2px solid #000;
}

#sidebar > div {
    padding: 0 15px;
    background: #f0f0f0;
    margin-bottom: 10px;
}

/**
 * Home side bar
 */
.slogan h3 {
    color: #fff;
    background: #a3a3a3;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    padding: 0 25px;
}

.slogan-item div {
    padding: 0 25px;
    color: #737373;
    background: #ececec;
    border-bottom: 1px solid #fff;
    line-height: 28px;
    height: 28px;
}

/**
 * look and feel
 */
.ts {
    font-size: 14px;
    color: #d6d5d5;
}

.title {
    font-weight: bold;
}

