#main div {
    padding: 3px;
    margin-top: 20px;
}

#main h2 {
    border-bottom: 1px solid #333;
}

#main li span {
    margin-right: 20px;
}

.pagedTopics {
    min-height: 200px;
}

.selected {
    border: 1px solid #444;
}
