@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon/fonts/icomoon.eot');
	src:url('/fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg'),
		url('/fonts/icomoon/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
    font-size: 1.2em;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    margin: 10px;
}


