/**--------------------*/
#main .article {
    padding: 3px;
}

#main .article h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#main div.entry {
    padding-top: 1em;
}

/**--------------------*/
#messageForm fieldset.post label {
    display: block;
}

#messageForm input, textarea {
    width: 99%;
}

#messageForm textarea {
    height: 360px;
}

.commentForm {
    display: none
}
