h1 a {
    display: block;
}

div.post {
    margin-bottom: 36px;
}

ul.messages {
    margin-top: 36px;
    margin-bottom: 36px;
}

li.message-item {
    margin-top: 24px;
    border-top: 1px dotted #ddd;
}

li.message-item ul {
    padding-left: 16px;
}

/**
 * Question 
 */
div.question {
    border-bottom: 1px solid #ddd;
}

ul.question-comments {
    padding-left: 2em;
    margin-bottom: 36px;
    border-bottom: 1px solid black;
}

ul.question-comments li {
    margin-top: 12px;
}

ul.answers {
    margin-bottom: 24px;
    border-bottom: 1px solid black;
}

ul.answers li.answer-item {
    margin-top: 12px;
    border-bottom: 1px dotted #ccc;
}

ul.answers li.answer-item ul {
   padding-left: 2em; 
}

