/**
 * css rules for question content.
 */
#main .article {
    padding: 3px;
}

#main .article h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#main div.entry {
    padding-top: 1em;
}

#content .comments {
    margin: 20px 0;
}

#content .comments li {
    margin: 10px 0;
}

#content .comments li span {
    margin-right: 30px;
}

.answers {
    margin: 60px 0;
    padding-top: 5px;
}

.answers li.item {
    border-top: 1px solid #444;
    margin-bottom: 10px;
}

.answers li.item .clarifications {
    padding-left: 20px;
}
.answers li.item .clarifications li {
    border-top: 1px dotted #ddd;
    margin-bottom: 5px;
}

#content .answers li span {
    margin-right: 30px;
}

.answerForm {
    margin-top: 30px;
    border-top: 1px solid #444;
}

.comments li {
    border-top: 1px dotted #ddd;
}

.clarificationForm {
    margin-top: 20px;
}
