fieldset.post li {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
}

fieldset.post li p {
    height: 16px;
}

fieldset.post .ac {
    width: 460px;
    height: 28px;
    font-size: 18px;
}

fieldset.post label {
    display: block;
    margin: 5px 0;
    font-size: 16px;
}

fieldset.post legend {
    margin-left: 10px;
}

