.layout2-content {
    margin-right: 278px;
}

.layout3-content {
    margin-right: 718px;
}

.layout3-mid {
    width: 442px;
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-right: 5px;
    font-size: 14px;
}

