#page-nav-wrapper, #page-logo-wrapper, #page-menu-wrapper, #page-main-wrapper, #page-footer-wrapper {
    overflow: hidden;
}

#page-nav-wrapper, #page-footer-wrapper {
    height: 40px;
}

#page-nav-wrapper {
}

#page-logo-wrapper {
    padding: 3em 0 0;
}

#page-menu-wrapper {
    padding: 5px;

}

#page-main-wrapper {
    min-height: 480px;
}

#page-footer-wrapper {

}

#page-nav, #page-logo, #page-menu, #page-main, #page-footer {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.pager {
    margin-top: 1em;
}

.pager span {
    margin-right: 0.6em;
}
