#mask {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 99;
}

.dialog {
    position: fixed;
    background: #f7f7f7;
    border: 1px solid #D8DEE2;
    top: 60px;
    z-index: 100;
}

fieldset.post-type {
    margin-bottom: 1em;
}

fieldset.post-type label {
    display: inline;
}

#confirmForm div.message {
    padding: 20px;
    border: 1px solid #ddd;
}

.info {
    width: 400px;
    margin: 60px auto;
}
