#signupForm, #signinForm, #resetRequestForm, #resetPasswordForm, 
#invitationForm, #impressionForm, 
#aboutForm, 
#planForm {
    width: 400px;
    margin: 60px auto;
    box-shadow: 0px 0px 35px 3px #ccc;
}

#topicForm {
    width: 680px;
    margin: 20px auto;
    border: 1px solid #bbb;
}

legend {
    width: 100%;
    padding: 3px 10px;
    color: #000;
    /**
    background: #ccc;
    */
    background: #6C8393;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#cfd1cf'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfd1cf)); 
    background: -moz-linear-gradient(top,  #f5f5f5,  #cfd1cf); 
    font-size: 16px;
    font-weight: bold;
}

label {
    display: block;
    margin: 8px;
}

textarea {
    width: 100%;
    min-height: 120px;
    padding: 7px 8px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    min-height: 34px;
    padding: 7px 8px;
}

input[type="submit"] {
    margin: 10px;
    padding: 3px 4px;
}

form a:link, .constraint {
    color: #398fd1;
    font-size: 12px;
    font-weight: 400;
}

