.article, .question {
    margin: 2.5em 0 0.5em;
    padding: 0 0 3em;
    border-bottom: 1px dotted #d8d8d8;
}

.title {
    color: #3f4547;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d8d8d8;
}

.messages > li, .answers > li {
    line-height: 24px;
    margin: 0 0 24px;
}

.replies > li, .question-comments > li, .answer-comments > li {
    padding-left: 2em;
    line-height: 24px;
    margin: 0 0 18px;
}

.meta {
    overflow: hidden;
    height: 1.8em;
    line-height: 1.8em;
    font-size: 0.833em;
    margin-bottom: 1.8em;
}

.owner {
    float: left;
}

.owner-action, .member-action {
    float:right;
}

.member-action {
    margin-left: 1em;
}

.question-comments {
    margin-top: 24px;
    padding-left: 2em;
}


#main-content p img {
    display: block;
    margin: 0 auto;
}
