.article, .question {
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
}

.title {
    color: #3f4547;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 7px solid #999;
}

.messages > li, .answers > li {
    line-height: 24px;
    margin: 0 0 24px;
}

.replies > li, .question-comments > li, .answer-comments > li {
    padding-left: 2em;
    line-height: 24px;
    margin: 0 0 18px;
}

.meta {
    margin-top: 0.8em;
    margin-bottom: 1.2em;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
}

.owner {
    float: left;
}

.owner-action, .member-action {
    float:right;
}

.member-action {
    margin-left: 1em;
}

.question-comments {
    margin-top: 24px;
    padding-left: 2em;
}

.article > .content {
    margin-bottom: 40px;
}

