.article, .question {
    margin-bottom: 15px;
    min-height: 320px;
    background: #ccc;
}

.title {
    color: #3f4547;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 7px solid #999;
}

.article .content {
    color: #171715;
    margin-top: 1em;
}

.message, .answer {
    padding: 5px;
}

.owner {
    margin-bottom: 5px;
}

.member {
    overflow: hidden;
    background: #ccc;
}

.replies, .question-comment, .answer-comment {
    padding-left: 3em;
    background: #ccc;
}

ul.messages .member a {
    float:right;
}
