/**
 * friends page
 */

.friends li {
    margin: 0 0 1.5em 0;
    padding-right: 1em;
}

.displayName a.pop {
    float: right;
}

.friends .headline {
    margin-top: 1em; 
}

/**
 * invitations page
 */
.invitations li div {
    margin-top: 0.6em;
}

.invitations .action a {
    margin-right: 2em;
}
