#page-main-wrapper {
    border-top: 1px solid #444;
    min-height: 480px;
    padding: 10px 10px 10px 0;
    background: #fff;
    overflow: hidden;
}

#page-main {
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    color: #1a1a1a;
    font-size: 14px;
}


