#page-logo h1 {
    color: #333;
    line-height: 38px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0.6em;
}


#page-logo h1 span {
    font-size: 14px;
    font-weight: normal;
}

