#page-main-wrapper {
    background: #fff;
    padding: 1em;
    border-top: 10px solid #f1f4f3;

}

#page-main {
    color: #1a1a1a;
    font-size: 14px;
    min-height: 480px;
    padding: 5px;
}

#main-content {
    float: left;
    width: 650px;
    padding-right: 1em;
    border-right: 7px solid #f1f4f3;
    min-height: 480px;
}

#main-sidebar, #content-topics, #content-posts {
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    margin-left: 2px;
}

#main-sidebar {
    width: 276px;
    float: right;
}

#main-sidebar h4 {
    margin-bottom: 5px;
    padding-top: 2px;
    font-size: 1.0em;
    font-weight: normal;
    color: #006699;
    border-bottom: 2px solid #000;
}

#content-topics {
    width: 300px;
    float: left;
    padding-right: 1em;
}

#content-posts {
    width: 300px;
    float: left;
    padding-lef: 1em;
}

