#main-content {
    width: 670px;
    float: left;
}

#main-sidebar {
    width: 276px;
    float: right;
    border-left: 1px solid #ddd;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

#content-topics {
    width: 232px;
    float: left;
}

#content-posts {
    width: 432px;
    float: left;
}
