/**
#page-menu-wrapper {
}
*/

#page-menu {
    overflow: hidden;
    padding-top: 12px;
}

.menu {
    float: left;
}

.menu li {
    display: block;
    float: left;
    line-height: 28px;
    margin-right: 10px;
    font-size: 14px;
}

.menu a:link, .menu a:visited {
    color: #444;
    background: #ddd;
    margin: 3px;
    padding: 4px;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
}

.menu a:hover, .menu a:active {
    color: #fff;
    background: #f2861d;
}

.plan-meta, .plan-meta ul, .menu-action {
    float: right;
}

.plan-meta li {
    display: block;
    float: right;
}

.menu-action a:link, .menu-action a:visited {
    color: #fff;
    background: #398fd1;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
}
 
.current {
    font-size: 18px;
}
