#page-menu {
    overflow: hidden;
}

.menu {
    float: left;
}

.menu li {
    display: block;
    float: left;
    line-height: 28px;
    margin-right: 10px;
}

.menu a {
    color: red;
}

.action {
    float: right;
}

.action li {
    display: block;
    float: right;
}

.action a {
    color: #fff;
    background: #398fd1;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-left: 10px;
}
 
.current {
    font-size: 18px;
}
