#page-nav-wrapper {
    color: #fff;
    background: #454546;
    box-shadow: 0 2px 2px #ccc;
}

#page-nav {
    padding: 3px 0;
    line-height: 32px;
}

ul.nav-left {
    float: left;
}

ul.nav-left li {
    float: left;
    padding-right: 1em;
}

ul.nav-right {
    float: right;
    position: relative; 
}

ul.nav-right li { 
    font-weight: bold; 
    float: left; 
    zoom: 1; 
}

ul.nav-item a:hover {
    color: #000; 
}

ul.nav-item a:active {
    color: #ffa500; 
}

ul.nav-item li a {
    padding: 4px 8px; 
    color: #fff; 
}

