#page-nav-wrapper {
    color: #fff;
    background-color: #454546;
    box-shadow: 0 2px 2px #ccc;
    z-index: 1000;
}

#page-nav {
    background-color: #454546;
    padding: 3px 0;
    line-height: 32px;
}

#page-nav a:link, #page-nav a:visited {
    padding: 4px 8px; 
    color: #fff; 
}
#page-nav a:hover, #page-nav a:active {
    color: #ffa500; 
}

#page-nav ul {
    font-weight: bold; 
}

ul.nav-left li {
    float: left;
    padding-right: 1em;
}

ul.nav-right {
    float: right;
    position: relative; 
}

ul.nav-right li { 
    float: left; 
    zoom: 1; 
}



